#topContent{
    display: flex;
    justify-content: space-between;

}
#logo{
    margin: auto;
}
#scoreboard,
#timer{
    width: 100px;
}
#scoreboard #score,
#timer #waiting_time{
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}
#waiting_time{
    margin-block: auto;
    line-height: 2em;
}

.logo{
    width: 200px;
}
#entireContent{
    font-family: Verdana;
}
.hidden{
    display: none;
}
#score{
    margin: auto;
}


.buttonsClass{
    font-family: Verdana;
    color: blue;
}
