#topContent{
    display: flex;
    justify-content: space-between;

}
#logo{
    margin: auto;
}
#scoreboard,
#timer{
    width: 125px;
}
#scoreboard #score,
#timer #waiting_time{
    justify-content: center;
    display: flex;
    padding: 5px;
    border: 1px solid black;

}
#score{
    flex-direction: column;
}
#waiting_time{
    margin-block: auto;
    line-height: 2em;
}

.logo{
    width: 200px;
}
#entireContent{
    font-family: Verdana;
}
.hidden{
    display: none;
}
#score{
    margin: auto;
}
#startButtonDiv{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#quizContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#question-container button{
    margin: 10px;
}
#img-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
}
.buttonsClass{
    font-family: Verdana;
    color: blue;
}
